a {
  color: red;
  text-decoration: none;
}

.user-margin-page {
  margin-left: 10%;
  margin-right: 10%;
}

.user-margin-bottom {
  margin-bottom: 2rem;
}

.user-margin-vertical {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
