// ALIGNMENT
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}

// PADDINGS
.user-padding-page {
  padding-left: 10%;
  padding-right: 10%;
}
.user-padding-bottom {
  padding-bottom: 2rem;
}
.user-padding-vertical {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
