// ALIGNMENT
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}

// PADDINGS
.padding-standard {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
